body {
    background-color: black;
    font-family: 'Chiller', cursive;
    text-align: center;
    color: red;
    font-size: 10vw;
    margin-top: 50vh;
    position: relative;
}

.background-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('red-splatter.png'); /* Replace with your splatter image */
    pointer-events: none;
    z-index: -1;
}
